span {
  margin: auto 30px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}

.songName {
  margin-top: 15px;
}

.trashIcon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  position: absolute;
  margin-top: -2px;
  margin-right: 10px;
}

.trashIcon2 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  position: absolute;
  margin-top: 0px;
  margin-left: -85px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding: 0px;
  width: 20px;
}

.profile {
  height: 300px;
  margin: 5px;
  margin-top: -15px;
}

.songLyrics-View {
  display: flex;
}

.songLyrics-Hidden {
  display: none;
}

.lyricsSpacing {
  padding-bottom: 20px;
}

.editSongForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: -5px;
}
.editSongBox {
  margin-top: 10px;
  font-size: 12px;
  padding: 25px;
  width: 350px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 0px;
}
