body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

.beatles {
  height: 267px;
  margin: 5px;
  margin-top: -15px;
}
span {
  margin: auto 30px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}

.songName {
  margin-top: 15px;
}

.trashIcon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  position: absolute;
  margin-top: -2px;
}

.profile {
  height: 300px;
  margin: 5px;
  margin-top: -15px;
}

.songLyrics-View {
  display: flex;
}

.songLyrics-Hidden {
  display: none;
}

.lyricsSpacing {
  padding-bottom: 20px;
}
