.addButton {
  width: 50px;
  background-color: red;
}

.navBar {
  border: 1px solid black;
}
/*  */
/* .tabBox { */
/* border: 1px solid black; */
/* font-size: 10px; */
/* } */

.tabContainerBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
