.tabContainerBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: black;
  border: 3px solid black;
}

.tabBox:hover {
  background-color: rgb(238, 238, 238);
}
