body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

.beatles {
  height: 267px;
  margin: 5px;
  margin-top: -15px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}
span {
  margin: auto 30px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}

.songName {
  margin-top: 15px;
}

.trashIcon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  position: absolute;
  margin-top: -2px;
}

.trashIcon2 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  position: absolute;
  margin-top: -0px;
  margin-left: -60px;
}

.profile {
  height: 300px;
  margin: 5px;
  margin-top: -15px;
}

.songLyrics-View {
  display: flex;
}

.songLyrics-Hidden {
  display: none;
}

.lyricsSpacing {
  padding-bottom: 20px;
}

.editSongForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: -5px;
}
.editSongBox {
  margin-top: 10px;
  font-size: 12px;
  padding: 25px;
  width: 350px;

  text-align: center;
}
