body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

.beatles {
  height: 267px;
  margin: 5px;
  margin-top: -15px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}
span {
  margin: auto 30px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}

.songName {
  margin-top: 15px;
}

.Icons {
  display: inline-block;
  justify-content: space-between;
  flex-direction: row;
  opacity: 0.5;
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding: 0px;
}

.MuiIcon-root {
  margin-left: 2px;
  margin-right: 2px;
}

.songSelector {
  width: 100%;
  font-size: 20px;
  margin-bottom: 2px;
}

.profile {
  height: 300px;
  margin: 5px;
  margin-top: -15px;
}

.songLyrics-View {
  display: flex;
}

.songLyrics-Hidden {
  display: none;
}

.lyricsSpacing {
  padding-bottom: 20px;
}

.editSongForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: -5px;
}
.editSongBox {
  margin-top: 10px;
  font-size: 12px;
  padding: 25px;
  width: 350px;
  text-align: center;
}

.modal-scrimm {
  background-color: rgba(0, 0, 0, 0.851);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}

.closeButton {
  padding: 2px;
  color: black;
  z-index: 10;
  background-color: white;
  line-height: 0.1px;
  width: 25px;
  height: 25px;
  margin-bottom: 50px;
  border: 2px solid black;
  box-shadow: 0px 0px 1px 1px black;
  bottom: 0;
  position: absolute;
  top: 0;
  margin-top: 100px;
  margin-left: -335px;
}

.closeButtonText {
  margin-left: 0.5px;
  margin-top: 14px;
  width: 25px;
}

.SongName-Map {
  margin: 0;
}
