body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

.beatles {
  height: 250px;
  margin: 5px;
  margin-top: -15px;
}

.profile {
  height: 267px;
  margin: 5px;
  margin-top: -15px;
}
