.headerSignUp {
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  height: 267px;
  margin: 5px;
  font-size: 15px;
  margin-top: -15px;
}

.signUpEmail {
  margin-right: 10px;
  height: 50px;
  font-size: 16px;
}

.signUpEmailBox {
  margin-right: 20px;
  height: 30px;
  padding: 0px;
  font-size: 16px;
  margin: 20px;
  margin-bottom: 5px;
  width: 300px;
  margin-top: 5px;
}
.signUpSubmit {
  margin-top: 300px;
  font-size: 14px;
  padding: 0 20px 0 20px;
  margin: 20px;
  border: 1px solid black;
  height: 30px;
}

.password-text {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .headerSignUp {
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1000px) {
  .LogInForm {
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
  }

  .password-text {
    margin-left: -15px;
  }

  .passwordform {
    margin-left: 30px;
  }

  /* .createpassword { */
  /* margin-left: 40px !important; */
  /*  } */
}
