.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.forms {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding-bottom: 30px;
  padding-top: 10px;
}

.alphabetBox {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.BannerBox {
  background-color: black;
  padding-bottom: 20px;
  margin-bottom: -23px;
  padding-top: 15px;
}

.SubmitRoute {
  background-image: url("https://github.com/skut21x-ga/beatles-mern-project/blob/master/src/img/Imagine.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  .navBar,
  MuiPaper-root,
  MuiPaper-elevation1,
  MuiPaper-rounded,
  .tabContainerBox {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .textBox {
    width: 80vw !important;
    padding: 10px;
    font-size: 12px;
    height: 100%;
    line-height: 12px !important;
    word-wrap: normal;
    margin-top: -25px;
  }

  .songSelector {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .alphabetBox {
    display: none;
  }

  .editSongForm {
    display: none !important;
  }

  .Icons {
    display: none !important;
  }
}

@media only screen and (max-width: 375px) {
  .LogInForm {
    display: none !important  ;
  }

  .headerSignUp {
    display: none !important;
  }
}
