.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.forms {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 30px;
}

.alphabetBox {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.BannerBox {
  background-color: black;
  padding-bottom: 20px;
  margin-bottom: -23px;
  padding-top: 15px;
}

.SubmitRoute {
  background-image: url("https://github.com/skut21x-ga/beatles-mern-project/blob/master/src/img/Imagine.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}
