.songModal {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 2px solid black;
  background-color: rgb(247, 247, 247);
  margin-bottom: 70px;
  width: 700px;
}

.songLyrics-Hidden {
  display: none;
}

.songLyrics-View {
  display: flex;
}

.songLyrics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBox {
  width: 500px;
  line-height: 28px;
  margin-bottom: 50px;
}

.songTitle {
  font: 30px;
  font-weight: 900;
  margin-top: 35px;
  margin-bottom: 15px;
}

.lyricsContainer {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  margin-top: 100px;
}

.lyricsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}
