input {
  padding: 50px 100px;
  margin: 20px;
  font-size: larger;
  border: solid black thin;
}

button {
  padding: 30px 60px;
  font-size: larger;
  border: solid black thin;
  border-radius: 5px;
}

.profile {
  height: 270px;
  margin: 5px;
  margin-top: -15px;
}

.songName {
  margin-top: 15px;
}

.trashIcon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  position: absolute;
  margin-top: -2px;
}

.profile {
  height: 300px;
  margin: 5px;
  margin-top: -15px;
}

.songLyrics-View {
  display: flex;
}

.songLyrics-Hidden {
  display: none;
}

.lyricsSpacing {
  padding-bottom: 20px;
}
